.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.text-block {
  max-width: 300px;
  border: 2px solid yellow;
  padding: 10px;
}